<%= @game.player1.name%> attacked <%= @game.player2.name %>
<br>
<%= @game.player2.name%> has: <%= @game.player2.hp%>hp left

<form action="/play" method="get">
    <input type="submit" name="submit">
</form>
